server:
  port: 8083

spring:
  application:
    name: ELH-USER-SERVICE
  datasource:
    url: jdbc:postgresql://localhost:5432/elh_db_user
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

# EUREKA CLIENT
eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://localhost:8081/eureka/


# CẤU HÌNH KẾT NỐI TỚI KEYCLOAK (Để gọi API tạo user)
app:
  config:
    keycloak:
      server-url: http://localhost:8080
      realm: tcnw-elearn
      clientId: elearn-api-client
      client-secret: 9wn5MYmrxX6SDq3pxbI4ZDMJite2Oh12


